[Desktop Entry]
Comment=Window decorations inspired on Yaru Theme from Ubuntu
Name=Yaru Arch Dark
Name[en]=Yaru Arch Dark
Name[ko]=어두운 Yaru Arch
Name[ja]=Yaru Arch ダーク
X-KDE-PluginInfo-Author=kuroehanako
X-KDE-PluginInfo-Category=Aurorae theme
X-KDE-PluginInfo-Email=kuroekmj@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Name=Yaru-arch-dark-KDE
X-KDE-PluginInfo-Version=0.1
